.color{

    background-color: chartreuse;

}

#fuente{
    color: blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    font-size: x-large;
}

.nav-link{

    margin-left: 200px;

}
