body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Es{
  width: 30%;
}

.Es-width{
  display: flex;
  flex-wrap: wrap;
}

.al {
  margin-right: 1rem;
  margin-left: 1rem;
}

.al2{
  background: white;
}

.al3{
  text-align: center;
}

.al4{
  color: white;
}
.bod {
  background-image: url(https://static.alphacoders.com/thumbs_categories/32.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
 }

 .tb{
   display: contents;
 }


